<div class="container col-xxl-8 px-4 py-5 mt-5" >
    <div class="row flex-lg-row-reverse align-items-center g-5 pb-5" >
        <!--Image-->
        <div class="col-10 col-md-6">
            <div id="portrait" class="d-block mx-lg-auto" loading="lazy" >
                <img src="../assets/images/retrato.jpg" alt="retrato">
            </div>
        </div>
        <!--info-->
        <div class="col-md-6" >
            <h1 class="display-5 fw-bold text-body-emphasis 1h-1 mb-3" >Sobre mí</h1>
            <p class="lead">Me gustan los proyectos multidisciplinarios que combinan tecnología y creación artística. He desarrollado habilidades en frontend, backend, y animación a través de diversos proyectos. Confío en que mis trabajos demuestran lo que puedo lograr.</p>
            <div id="firma">
                <img src="../assets/images/firma2.png" alt="firma digital">
            </div>
        </div>

    </div>
</div>