<div id="workHeader1" class="container px-4" ></div>

<!-- Edición de Animación -->
 <div id="edicionAnimacion" class="container col-xxl-8 px-4 py-5" >
    <div class="row flex-lg-row aling-items-center g-5">
        <div class="col-md-4 col-lg-6">
            <h2>> Edición Animación</h2>
            <p>Una serie de videos en donde uso el dibujo, animación y demás formas para expresar ideas y contar historias.</p>
        </div>
        <div class="col-12 col-md-8 col-lg-6">
            <div class="d-block mx-md-auto" loading="lazy">
                <div id="demoreel" class="row gap-2 justify-content-lg-end justify-content-start" >
                </div>
            </div>
        </div>
    </div>
 </div>

<!-- > El microbusero 2 -->
 <div id="elMicro" class="container col-xxl-8 px-4 pb-5">
    <div class="row flex-lg-row aling-items-center g-5 pb-5">
        <div class="col-lg-6">
            <h2>> El Microbusero 2</h2>
            <p>Colaboración con Hector Muñoz, un thriller juvenil situado en México a principios de los 2000s. Eliab un  adolencete engreído se mete en problemas escabrosos por disfrutar su hobby favorito, los videojuegos.</p>
        </div>
        <div class="col-12 col-lg-6" >
            <div class="d-block mx-lg-auto" loading="lazy">
            <div id="card1" class="imageDockLarge"></div>
            </div>
        </div>

    </div>

 </div>

